<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	{{!-- Materialize and animation links --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}

    <link rel="stylesheet" type="text/css" href="../../Style/style.css">

	<title>Article Scraper</title>
</head>


<!--	background img - imported from scss-->

<body>
 <div id="wrapper">
        <h1>Article Scraper</h1>

        	<div class="row" id="notes"></div>
        {{{body}}}
       
        
    </div>
   


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="../../app.js"></script>

</body>

</html>