body {
    background-image: url("../Style/Newspapers1.jpg");
    font-family: 'Sanchez', serif;
}

#wrapper { 
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(35, 57, 66);
    box-shadow: inset 0 0 90px 4px rgba(255,255,255,.5);
}

#read {
    color: orange;
}
.blur-box {
    background-color: #555;
    box-shadow: 0 0 5px 10px #555;
}

#notes {
    float: right;
    width:70%;
}

.notes {
    background-color: white;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: rgb(35, 57, 66);
    color: white;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
    
}

.articleTitle {
    color: white;
    padding: 20px;
}

#titleinput {
    color: rgb(35, 57, 66);
    font-size: 14px;
    font-family: 'Sanchez', serif;
}

.titleinput {
    color: rgb(35, 57, 66);
    font-size: 14px;
    font-family: 'Sanchez', serif;
}

.titleOfArticle {
   color: rgb(35, 57, 66);
   font-size: 33px;;
}

.title {
    color: white;
}

.scrape {
    font-size: 20px;
    font-family: 'Sanchez', serif;

}

.collapsible-body {
    background-color: white;
}

.note-btn, .delete {
   background-color: rgb(35, 57, 66);
    font-family: 'Sanchez', serif;
    color: white;
}

#view, #close, .savenote {
    background-color: rgb(35, 57, 66);
     font-family: 'Sanchez', serif;
 }

 #close {
     float: right;
 }

 #bodyinput {
     padding: 20px;
     font-family: 'Sanchez', serif;
 }

 .noteBox {
     padding: 10px;
 }